/*
IP Address Management API

The IPAM/DHCP Application is a Universal DDI service providing IP address management and DHCP protocol features. The IPAM component provides visibility into and provisioning tools to manage networking spaces, monitoring and reporting of entire IP address infrastructures, and integration with DNS and DHCP protocols. The DHCP component provides DHCP protocol configuration service with on-prem host serving DHCP protocol. It is part of the full-featured, DDI cloud solution that enables customers to deploy large numbers of protocol servers to deliver DNS and DHCP throughout their enterprise network.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ipam

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/infobloxopen/universal-ddi-go-client/internal"
)

type ExportTableAPI interface {
	/*
			ExportTable Initiate an asynchronous table export.

			Use this method to start an asynchronous export of table data.
		The response contains a _result.req_id_ that can be used to track the export status.
		The initial _result.status_ is set to _pending_.

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return ExportTableAPIExportTableRequest
	*/
	ExportTable(ctx context.Context) ExportTableAPIExportTableRequest

	// ExportTableExecute executes the request
	//  @return ExportTableResponse
	ExportTableExecute(r ExportTableAPIExportTableRequest) (*ExportTableResponse, *http.Response, error)
}

// ExportTableAPIService ExportTableAPI service
type ExportTableAPIService internal.Service

type ExportTableAPIExportTableRequest struct {
	ctx        context.Context
	ApiService ExportTableAPI
	body       *ExportTableRequest
}

func (r ExportTableAPIExportTableRequest) Body(body ExportTableRequest) ExportTableAPIExportTableRequest {
	r.body = &body
	return r
}

func (r ExportTableAPIExportTableRequest) Execute() (*ExportTableResponse, *http.Response, error) {
	return r.ApiService.ExportTableExecute(r)
}

/*
ExportTable Initiate an asynchronous table export.

Use this method to start an asynchronous export of table data.
The response contains a _result.req_id_ that can be used to track the export status.
The initial _result.status_ is set to _pending_.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ExportTableAPIExportTableRequest
*/
func (a *ExportTableAPIService) ExportTable(ctx context.Context) ExportTableAPIExportTableRequest {
	return ExportTableAPIExportTableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ExportTableResponse
func (a *ExportTableAPIService) ExportTableExecute(r ExportTableAPIExportTableRequest) (*ExportTableResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *ExportTableResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "ExportTableAPIService.ExportTable")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/ipam/export/table"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, internal.ReportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
