/*
IP Address Management API

The IPAM/DHCP Application is a Universal DDI service providing IP address management and DHCP protocol features. The IPAM component provides visibility into and provisioning tools to manage networking spaces, monitoring and reporting of entire IP address infrastructures, and integration with DNS and DHCP protocols. The DHCP component provides DHCP protocol configuration service with on-prem host serving DHCP protocol. It is part of the full-featured, DDI cloud solution that enables customers to deploy large numbers of protocol servers to deliver DNS and DHCP throughout their enterprise network.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ipam

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"

	"github.com/infobloxopen/universal-ddi-go-client/internal"
)

type DhcpUniversalServiceAPI interface {
	/*
		GetCapabilityAssociationsCount Retrieve DHCP capability associations count. Use this method to retrieve count of associated subnets/ranges for a given universal service id.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id An application specific resource identity of a resource
		@return DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest
	*/
	GetCapabilityAssociationsCount(ctx context.Context, id string) DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest

	// GetCapabilityAssociationsCountExecute executes the request
	//  @return DHCPCapabilityAssociationsCountResponse
	GetCapabilityAssociationsCountExecute(r DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest) (*DHCPCapabilityAssociationsCountResponse, *http.Response, error)
	/*
		ListCapabilityAssociations Retrieve DHCP capability associations. Use this method to retrieve associated subnets/ranges with an ancestors chain for a given universal service id.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id An application specific resource identity of a resource
		@return DhcpUniversalServiceAPIListCapabilityAssociationsRequest
	*/
	ListCapabilityAssociations(ctx context.Context, id string) DhcpUniversalServiceAPIListCapabilityAssociationsRequest

	// ListCapabilityAssociationsExecute executes the request
	//  @return DHCPCapabilityAssociationsResponse
	ListCapabilityAssociationsExecute(r DhcpUniversalServiceAPIListCapabilityAssociationsRequest) (*DHCPCapabilityAssociationsResponse, *http.Response, error)
}

// DhcpUniversalServiceAPIService DhcpUniversalServiceAPI service
type DhcpUniversalServiceAPIService internal.Service

type DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest struct {
	ctx        context.Context
	ApiService DhcpUniversalServiceAPI
	id         string
}

func (r DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest) Execute() (*DHCPCapabilityAssociationsCountResponse, *http.Response, error) {
	return r.ApiService.GetCapabilityAssociationsCountExecute(r)
}

/*
GetCapabilityAssociationsCount Retrieve DHCP capability associations count. Use this method to retrieve count of associated subnets/ranges for a given universal service id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id An application specific resource identity of a resource
	@return DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest
*/
func (a *DhcpUniversalServiceAPIService) GetCapabilityAssociationsCount(ctx context.Context, id string) DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest {
	return DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return DHCPCapabilityAssociationsCountResponse
func (a *DhcpUniversalServiceAPIService) GetCapabilityAssociationsCountExecute(r DhcpUniversalServiceAPIGetCapabilityAssociationsCountRequest) (*DHCPCapabilityAssociationsCountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *DHCPCapabilityAssociationsCountResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "DhcpUniversalServiceAPIService.GetCapabilityAssociationsCount")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/dhcp/universal_service/{id}/associations/count"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(internal.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}

type DhcpUniversalServiceAPIListCapabilityAssociationsRequest struct {
	ctx        context.Context
	ApiService DhcpUniversalServiceAPI
	id         string
}

func (r DhcpUniversalServiceAPIListCapabilityAssociationsRequest) Execute() (*DHCPCapabilityAssociationsResponse, *http.Response, error) {
	return r.ApiService.ListCapabilityAssociationsExecute(r)
}

/*
ListCapabilityAssociations Retrieve DHCP capability associations. Use this method to retrieve associated subnets/ranges with an ancestors chain for a given universal service id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id An application specific resource identity of a resource
	@return DhcpUniversalServiceAPIListCapabilityAssociationsRequest
*/
func (a *DhcpUniversalServiceAPIService) ListCapabilityAssociations(ctx context.Context, id string) DhcpUniversalServiceAPIListCapabilityAssociationsRequest {
	return DhcpUniversalServiceAPIListCapabilityAssociationsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return DHCPCapabilityAssociationsResponse
func (a *DhcpUniversalServiceAPIService) ListCapabilityAssociationsExecute(r DhcpUniversalServiceAPIListCapabilityAssociationsRequest) (*DHCPCapabilityAssociationsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *DHCPCapabilityAssociationsResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "DhcpUniversalServiceAPIService.ListCapabilityAssociations")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/dhcp/universal_service/{id}/associations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(internal.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
